.treinoCard {
  padding: 32px;
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 12%);
  border-radius: 8px;
}

.treinoCard .cardTitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.treinoCard .cardTitle h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.treinoCard .cardTitle p {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  color: orangered;
}

.treinoCard th {
  background: #ddd;
  text-align: left;
  padding: 12px;
}

.treinoCard td {
  width: 100%;
  padding: 12px;
}

.treinoCard tr:nth-child(even) {
  background: #eee;
}

.treinoCard td:nth-child(even) {
  text-align: center;
}